body {
  color: #2f80ed;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a {
  color: #2F80ED;
}
.img-empty{
  display: block;
  margin: 110px auto 10px;
  width: 520px;
  height: 190px;
  /* border: 1px solid; */
}
.block-number {
  margin: auto;
  width: 420px;
  
  font-size: 120px;
  text-align: center;
  /* border: 1px solid; */
}
.block-number a {
  text-decoration: none;
  cursor: pointer;
}

.text {
  margin: 280px auto 30px;
}
.footer {
  display: flex;
}
.text a {
  color: #2F80ED;
}
.text-error {
  margin: auto;
  width: 420px;

  margin-top: 22px;
  text-align: center;
  display: none;
   /* border: 1px solid; */ 
}

.block-number:hover ~ .text-error {
  display: block;
} 